<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Fork_Admission_App.Properties.Settings.Fork_Admission_Systeam_DBConnectionString"
            connectionString="Data Source=DESKTOP-D15T778;Initial Catalog=Fork_Admission_Systeam_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>